<a href="https://colab.research.google.com/github/Rob7799/Pandas-Introduction/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

We are going to to learn: 
1. Most useful functions 
2. Pandas two data types(series, Dataframe)
3. Importing and Exporting Data
4. Describing the Data
5. Viewing and Selecting Data
6. Manipulating Data

In [1]:
import pandas as pd

1. Data Types - Series & Data Frame

In [2]:
#Creating a series of cars (series are basically python lists) (They are one dimensional column of data)
cars=pd.Series(["BMW", "Toyota", "Honda"])

In [3]:
cars

0       BMW
1    Toyota
2     Honda
dtype: object

In [4]:
colors=pd.Series(["Yellow","Green","Blue"])

In [5]:
colors

0    Yellow
1     Green
2      Blue
dtype: object

Data Frame is a 2 dimensional table of data with Rows & Columns (Data Frame is related to Python Dictionaries)
*We can use Series in our Data Frame

In [6]:
car_data=pd.DataFrame({"Car Type":cars, 
                       "Color Type":colors})
car_data

  Car Type Color Type
0      BMW     Yellow
1   Toyota      Green
2    Honda       Blue

In [7]:
df=pd.read_csv("car-sales.csv")
df

FileNotFoundError: ignored

In [ ]:
#Exporting the data 
df.to_csv("exported-car-sales.csv")
df

In [ ]:
df

In [ ]:
#Describing Data 
car_sales=pd.read_csv("car-sales.csv")
car_sales

In [ ]:
car_sales.dtypes

In [ ]:
.describe() will give a quick statistical overview of the nuemerical column

In [ ]:
car_sales.describe()

<!-- .info() shows a handful of information about a dataframe such as: 
-How many rows there are
-Wether there are missing values or not
-The datatypes of each colum -->

In [ ]:
car_sales.info()

In [ ]:
car_sales.mean()

In [ ]:
car_sales.sum()

In [ ]:
car_sales.columns

In [ ]:
#Save car_sales columns to a list 

cars_columns=car_sales.columns
cars_columns

In [ ]:
cars_columns[2]

In [ ]:
car_sales.index

In [ ]:
len(car_sales)

In [ ]:
#Selecting and viewing data with Pandas
# .head() allow to view the first 5 rows of data frame 
car_sales.head(6)
#If you leave empty it will be 5 rows. or you can put any number car_sales.head(9) will be 9

In [ ]:
# .tail() will allow to view bottom 5, can also adjust the amount like .head
car_sales.tail(2)

In [ ]:
animals=pd.Series(["cat","dog","snake","lion","tiger","bird"],
                  index=[0,3,9,8,67,3])
animals

In [ ]:
animals.loc[3]

In [ ]:
animals.loc[9]

In [ ]:
car_sales.loc[3]

In [ ]:
animals

In [ ]:
# iloc works with exact positions

animals.iloc[3]

In [ ]:
car_sales.iloc[4]

In [ ]:
car_sales
car_sales["Colour"]

In [ ]:
#Select cars with over 100,000 on the odometer

car_sales[car_sales["Odometer (KM)"]>100000]

In [ ]:
car_sales[car_sales["Make"]=="Toyota"] #Filtering

In [ ]:
pd.crosstab(car_sales["Make"],car_sales["Doors"]) #Comparing

In [ ]:
car_sales.groupby(["Make"]).mean() # GroupBy

In [ ]:
import matplotlib.pyplot as plt  

car_sales["Odometer (KM)"].plot() #making a plot

In [ ]:
car_sales

In [ ]:
car_sales["Odometer (KM)"].hist() #Histogram

In [ ]:
car_sales["Price"].plot

In [ ]:
#car_sales["Price"]=car_sales["Price"].str.replace('[\$\,\.]', '').astype(int)

In [ ]:
car_sales

In [ ]:
car_sales["Price"].plot()

In [ ]:
#Manipulating Data 

car_sales["Make"]=car_sales["Make"].str.lower() #changing to lower

In [ ]:
car_sales.head(5)

In [ ]:
# Missing Values

In [45]:
car_sales_missing=pd.read_csv("car-sales-extended-missing-data.csv")
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [50]:
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(),inplace=True)
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [34]:
car_sales_missing

<bound method DataFrame.dropna of        Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
994     BMW   Blue       163322.0    3.0  31666.0
995  Toyota  Black        35820.0    4.0  32042.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[815 rows x 5 columns]>

In [21]:
car_sales_missing.dropna() #remove all rows that has some data missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
994     BMW   Blue       163322.0    3.0  31666.0
995  Toyota  Black        35820.0    4.0  32042.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[815 rows x 5 columns]

In [51]:
#Create a column from a panda series 
car_sales_missing
seat_column=pd.Series([5,5,5,5,5,5,5,5,5,5,5,5,5,5,5])
car_sales_missing["Seats"]=seat_column
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price  Seats
0     Honda  White        35431.0    4.0  15323.0    5.0
1       BMW   Blue       192714.0    5.0  19943.0    5.0
2     Honda  White        84714.0    4.0  28343.0    5.0
3    Toyota  White       154365.0    4.0  13434.0    5.0
4    Nissan   Blue       181577.0    3.0  14043.0    5.0
..      ...    ...            ...    ...      ...    ...
995  Toyota  Black        35820.0    4.0  32042.0    NaN
996     NaN  White       155144.0    3.0   5716.0    NaN
997  Nissan   Blue        66604.0    4.0  31570.0    NaN
998   Honda  White       215883.0    4.0   4001.0    NaN
999  Toyota   Blue       248360.0    4.0  12732.0    NaN

[1000 rows x 6 columns]

In [53]:
#pd.crosstab(car_sales_missing["Price"],car_sales_missing["Odometer (KM)"])

car_sales_missing["Price per KM"]=car_sales_missing["Price"]/car_sales_missing["Odometer (KM)"] #Creating a new column from existing columns 
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price  Seats  Price per KM
0     Honda  White        35431.0    4.0  15323.0    5.0      0.432474
1       BMW   Blue       192714.0    5.0  19943.0    5.0      0.103485
2     Honda  White        84714.0    4.0  28343.0    5.0      0.334573
3    Toyota  White       154365.0    4.0  13434.0    5.0      0.087027
4    Nissan   Blue       181577.0    3.0  14043.0    5.0      0.077339
..      ...    ...            ...    ...      ...    ...           ...
995  Toyota  Black        35820.0    4.0  32042.0    NaN      0.894528
996     NaN  White       155144.0    3.0   5716.0    NaN      0.036843
997  Nissan   Blue        66604.0    4.0  31570.0    NaN      0.473996
998   Honda  White       215883.0    4.0   4001.0    NaN      0.018533
999  Toyota   Blue       248360.0    4.0  12732.0    NaN      0.051264

[1000 rows x 7 columns]

In [56]:
car_sales_missing["Wheels"]=4
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price  Seats  Price per KM  Wheels
0     Honda  White        35431.0    4.0  15323.0    5.0      0.432474       4
1       BMW   Blue       192714.0    5.0  19943.0    5.0      0.103485       4
2     Honda  White        84714.0    4.0  28343.0    5.0      0.334573       4
3    Toyota  White       154365.0    4.0  13434.0    5.0      0.087027       4
4    Nissan   Blue       181577.0    3.0  14043.0    5.0      0.077339       4
..      ...    ...            ...    ...      ...    ...           ...     ...
995  Toyota  Black        35820.0    4.0  32042.0    NaN      0.894528       4
996     NaN  White       155144.0    3.0   5716.0    NaN      0.036843       4
997  Nissan   Blue        66604.0    4.0  31570.0    NaN      0.473996       4
998   Honda  White       215883.0    4.0   4001.0    NaN      0.018533       4
999  Toyota   Blue       248360.0    4.0  12732.0    NaN      0.051264       4

[1000 rows x 8 columns]

In [65]:
#Adding a boolean value 

car_sales_missing["Safety"]=True
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price  Seats  Wheels  Safety
0     Honda  White        35431.0    4.0  15323.0    5.0       4    True
1       BMW   Blue       192714.0    5.0  19943.0    5.0       4    True
2     Honda  White        84714.0    4.0  28343.0    5.0       4    True
3    Toyota  White       154365.0    4.0  13434.0    5.0       4    True
4    Nissan   Blue       181577.0    3.0  14043.0    5.0       4    True
..      ...    ...            ...    ...      ...    ...     ...     ...
995  Toyota  Black        35820.0    4.0  32042.0    NaN       4    True
996     NaN  White       155144.0    3.0   5716.0    NaN       4    True
997  Nissan   Blue        66604.0    4.0  31570.0    NaN       4    True
998   Honda  White       215883.0    4.0   4001.0    NaN       4    True
999  Toyota   Blue       248360.0    4.0  12732.0    NaN       4    True

[1000 rows x 8 columns]

In [68]:
#car_sales_missing=car_sales_missing.drop("Wheels",axis=1) #Deleting wheels column
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price  Seats  Safety
0     Honda  White        35431.0    4.0  15323.0    5.0    True
1       BMW   Blue       192714.0    5.0  19943.0    5.0    True
2     Honda  White        84714.0    4.0  28343.0    5.0    True
3    Toyota  White       154365.0    4.0  13434.0    5.0    True
4    Nissan   Blue       181577.0    3.0  14043.0    5.0    True
..      ...    ...            ...    ...      ...    ...     ...
995  Toyota  Black        35820.0    4.0  32042.0    NaN    True
996     NaN  White       155144.0    3.0   5716.0    NaN    True
997  Nissan   Blue        66604.0    4.0  31570.0    NaN    True
998   Honda  White       215883.0    4.0   4001.0    NaN    True
999  Toyota   Blue       248360.0    4.0  12732.0    NaN    True

[1000 rows x 7 columns]

In [70]:
car_sales_shuffle=car_sales_missing.sample(frac=.4) # frac=1 will shuffle 100 percent frac=.5 will shuffle 50 percent (stands for fraction)
car_sales_shuffle

       Make Colour  Odometer (KM)  Doors    Price  Seats  Safety
790   Honda   Blue       244434.0    4.0   8253.0    NaN    True
385   Honda    NaN        89291.0    4.0  13703.0    NaN    True
150  Nissan  White       129188.0    4.0   8071.0    NaN    True
137   Honda   Blue        31677.0    4.0  21754.0    NaN    True
992   Honda  Green        54721.0    4.0  27419.0    NaN    True
..      ...    ...            ...    ...      ...    ...     ...
641  Toyota  Green        37703.0    4.0      NaN    NaN    True
40      NaN  White       177894.0    4.0   9229.0    NaN    True
888     BMW   Blue       244095.0    5.0  25780.0    NaN    True
755     NaN   Blue        60499.0    5.0  11708.0    NaN    True
813  Toyota  White        10247.0    4.0  32566.0    NaN    True

[400 rows x 7 columns]

In [72]:
#reset Index

car_sales_shuffle.reset_index() #this resets the index

     index    Make Colour  Odometer (KM)  Doors    Price  Seats  Safety
0      790   Honda   Blue       244434.0    4.0   8253.0    NaN    True
1      385   Honda    NaN        89291.0    4.0  13703.0    NaN    True
2      150  Nissan  White       129188.0    4.0   8071.0    NaN    True
3      137   Honda   Blue        31677.0    4.0  21754.0    NaN    True
4      992   Honda  Green        54721.0    4.0  27419.0    NaN    True
..     ...     ...    ...            ...    ...      ...    ...     ...
395    641  Toyota  Green        37703.0    4.0      NaN    NaN    True
396     40     NaN  White       177894.0    4.0   9229.0    NaN    True
397    888     BMW   Blue       244095.0    5.0  25780.0    NaN    True
398    755     NaN   Blue        60499.0    5.0  11708.0    NaN    True
399    813  Toyota  White        10247.0    4.0  32566.0    NaN    True

[400 rows x 8 columns]

In [75]:
#Lambda 

car_sales_missing["Odometer (KM)"].apply(lambda x:x*1.6)

0       56689.6
1      308342.4
2      135542.4
3      246984.0
4      290523.2
         ...
995     57312.0
996    248230.4
997    106566.4
998    345412.8
999    397376.0
Name: Odometer (KM), Length: 1000, dtype: float64

In [76]:
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price  Seats  Safety
0     Honda  White        35431.0    4.0  15323.0    5.0    True
1       BMW   Blue       192714.0    5.0  19943.0    5.0    True
2     Honda  White        84714.0    4.0  28343.0    5.0    True
3    Toyota  White       154365.0    4.0  13434.0    5.0    True
4    Nissan   Blue       181577.0    3.0  14043.0    5.0    True
..      ...    ...            ...    ...      ...    ...     ...
995  Toyota  Black        35820.0    4.0  32042.0    NaN    True
996     NaN  White       155144.0    3.0   5716.0    NaN    True
997  Nissan   Blue        66604.0    4.0  31570.0    NaN    True
998   Honda  White       215883.0    4.0   4001.0    NaN    True
999  Toyota   Blue       248360.0    4.0  12732.0    NaN    True

[1000 rows x 7 columns]